@media only screen and (min-width: 37.5em) {
    main {
        max-width: 750px;
    }
    ul {
        display: flex;
    }
    li a {
        border: none;
        border-right: 1px solid rgba(157, 117, 35, 0.5);
        padding: 3px 10px;
    }
    li a:hover {
        background-color: rgba(170, 147, 17, 0.8);
    }
    .hide {
        display: flex;
        justify-content: center;
    }
    button {
        display: none;
    }
    .home {
        border-left: 1px solid rgba(157, 117, 35, 0.5);
    }
    .menu {
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: space-around;
    }
    #current-condition {
        display: flex;
        align-self: center;
        height: auto;
    }
    #condition-img {
        display: flex;
        width: 55%;
        height: auto;
    }
    #condition-text {
        align-self: center;
        color: yellow;
        font-weight: bold;
    }
    .wrapper {
        grid-template-columns: 40% 40%;
    }
}