@media only screen and (min-width: 37.5em) {
    ul {
        display: flex;
    }
    li a {
        border: none;
        border-right: 1px solid rgba(180, 133, 39, 0.5);
        padding: 5px;
    }
    li a:hover {
        background-color: rgb(151, 131, 16);
        color: white;
    }
    .hide {
        display: flex;
        justify-content: center;
    }
    .navBtn {
        display: none;
    }
    .home {
        border-left: 1px solid rgba(180, 133, 39, 0.5);
    }
    .menu {
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: center;
    }
    #current-condition {
        display: flex;
        margin-left: 5%;
        padding: 5px;
        border-radius: 20px;
        box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.75);
        background-color: rgba(246, 180, 49, 0.7); 
    }
    #condition-text {
        align-self: center;
        color: rgb(155, 114, 32);
        font-weight: bold;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    fieldset {
        border: 1px solid #4abdac;
        border-radius: 10px;
    }
    .grid {
        max-width: 640px;
    }
    .fireImg { 
        margin-top: 30px;
        border-radius: 5px;
    }
    .weatherstory {
        margin-bottom: 2rem;
        box-shadow: 3px 3px 23px 0px rgba(0,0,0,0.75);

    }
    .towns {
        max-width: 640px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .townstyle {
        background-color: rgba(223, 220, 227, .75);
        border: 1px solid rgb(208, 205, 212);
        box-shadow: 3px 3px 23px 0px rgba(0,0,0,0.75);
    }
    .townImg {
        width: 100%;
        border-radius: 5px;
        
    }
}