* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans-serif;
    margin: auto;
}

/*==================Header=====================*/

header {
    display: grid;
    background-color: rgb(74, 189, 172);
    align-items: center;
    text-align: center;
    margin: auto;
}

nav {
    display: grid;
    background-color: rgba(246, 180, 49, 0.7);
}
li.active a{
    background-color: rgb(182, 157, 19);
    color: white;
}
.logo {
    justify-self: center;
    margin-bottom: -10px;
}

#current-condition {
    display: none;
}

.headertext {
    font-family: "roboto", sans-serif;
    margin-bottom: 10px;
    font-size: .85rem;
}

.mottotext {
    font-style: italic;
    font-size: .75rem;
}

/*==================Nav-Bar=====================*/

li {
    list-style-type: none;
}

li>a {
    display: grid;
    justify-content: center;
    border-top: 1px solid rgba(180, 133, 39, 0.5);
    text-decoration: none;
    color: rgb(97, 75, 9);
    padding: 5px;
}

.bottom {
    border-bottom: none;
}

.hide {
    display: none;
}

.navBtn {
    color: rgba(157, 116, 35, 1);
    background-color: rgba(246, 180, 49, 0);
    border: none;
    font-size: 1.75rem;
}
/*==================Main-Content=====================*/

main {
    margin: auto;
}

.pageHeader {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
}

.mainImg {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px 0;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
}

.weathersummary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(247, 183, 51, .75);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 4px 14px 15px 0px rgba(0, 0, 0, 0.75);
}
h3.summary{
    grid-column: span 2;
}

p.label {
    justify-self: end;
    font-weight: bold;
}

p.value {
    color: yellow;
    text-align: right;
    justify-self: start;
}

h3 {
    text-align: center;
    margin: 5px;
}

article {
    text-align: left;
    margin: auto;
    padding: 10px 0 30px 0;
}

.article {
    font-size: 15px;
    margin: 10px 20px;
}

.articleImg {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.forecast {
    display: none;
}

/*==================Contact-Info=====================*/

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(223, 220, 227);
    
}

.contact-info {
    align-self: center;
    text-align: center;
    font-size: .85rem;
}

.station-img {
    display: none;
}

iframe {
    border: 1px solid rgba(176, 174, 180, .85);
    width: 70%;
    height: auto;
    margin: 10px;
}

.wrapper {
    display: grid;
    text-align: center;
    margin-top: 20px;
    grid-template-columns: 300px;
    justify-content: center;
    grid-gap: 1.2em;
}

figure>img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .85rem;
    margin: 5px;
}

footer {
    display: none;
}

