@media only screen and (min-width: 38em) {
    .navBtn {
        display: none;
    }
    #primaryNav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        position: static;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    nav li{
        padding: 15px;
    }
    h1.page-heading {
        font-size: 3em;
        grid-area: 3;
    }
    .site-logo {
        justify-self: center;
        grid-area: 2;
        width: 100px;
    }
    div.imageContainer {
        justify-self: center;
        width: 100%;
    }
    .prev, .next {
        color: coral;
    }
    h3.heading {
        font-size: 30px;
    }
    img.templeOfMonth {
        width: 85%;
        justify-self: center;
    }
    figcaption {
        font-size: 24px;
        margin: 20px;
        line-height: 2rem;
    }
    .contact {
        font-size: 20px;
        text-align: center;
        line-height: 2rem;
    }
    .text {
        text-align: left;
    }
    .weather {
        font-size: 20px;
    }
    .tap {
        font-size: 20px;
        margin-left: 20px;
        padding-top: 30px;
        position: absolute;
    }
    h3.first{
        margin-top: 80px;
        padding-top: 30px;
    }
    .submitBtn{
        width:50%;
        
    }
    iframe{
        width: 50%;
    }
}

