body {
    margin: auto;
    max-width: 600px;
}

.tag {
    margin: 10px;
    text-align: center;
    background-color: #3fb0ac;
    padding: 20px;
    border-radius: 15px;
}

h3 {
    font-size: 2em;
    margin: 0;
}
.list>h3{
    margin-top: 10px;
    font-size: 1.5em;
}

canvas {
    background-color: white;
    margin-top: 20px;
}

canvas, video, audio {
    width: 90%;
}

p {
    font-size: 14px
}
div.list{
    display: inline-block;
    margin: 0;
    padding: 3px;
    list-style-position: outside;
    text-align: left;
    font-weight: bold;
}