body {
    margin: auto;
    max-width: 600px;
}

.tag {
    margin: 10px;
    text-align: center;
    background-color: #3fb0ac;
    padding: 20px;
    border-radius: 15px;
}

canvas {
    background-color: black;
}

canvas, video, audio {
    width: 80%;
}

p {
    font-size: 14px
}