@media only screen and (min-width: 640px) {
    li {
        display: inline-block;
        border-bottom: none;
        padding: 10px;
    }
    #current-condition, #condition-img {
        display: inline-block;
    }
    .menu {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    header>img {
        margin: 10px;
    }
    .station-img {
        display: inline-block;
        width: 30%;
        height: auto;
        padding: 10px;
    }
    .contact-info {
        display: inline-block;
        vertical-align: top;
        margin: auto;
        padding: 10px
    }
    #contact {
        width: 100%;
        height: auto;
        background-color: #DFDCE3;
        margin-top: 20px;
    }
    iframe {
        display: inline-block;
        width: 150px;
        height: auto;
        padding: 10px;
        margin: auto;
    }
    footer {
        display: block;
        margin: auto;
        text-align: center;
        background-color: #4ABDAC;
        max-width: 640px;
        padding: 20px 0;
    }
}