body {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 2em;
}

button {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.image {
    display: none;
}
.show-image{
    display: block;
    width: 60%;
    margin: 50px auto;
    border-radius: 5px;
}

#mobile-edge {
    margin: 30px auto;
    padding: 40px 5px;
    border: 2px solid black;
    border-radius: 10px;
    width: 330px;
    height: 550px;
}

#mobile-center {
    margin: auto;
    border: 1px solid black;
    width: 330px;
    height: 530px;
    background-color: black;
}

.phone {
    vertical-align: middle;
    width: 60px;
    border-radius: 50px;
}

.phone:focus {
    outline: 0;
}

#square {
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.content{
    text-align: left;
    margin: 5%;
    background-color: rgb(243, 68, 4);
    color: white;
    padding: 5%;
    border-radius: 5px;
}