@media only screen and (min-width: 37.5em) {
    main {
        max-width: 750px;
    }
    ul {
        display: flex;
    }
    li a {
        border: none;
        border-right: 1px solid rgba(157, 117, 35, 0.5);
        padding: 5px;
        
    }
    li a:hover {
        background-color: rgba(170, 147, 17, 1);
    }
    .hide {
        display: flex;
        justify-content: center;
    }
    .navBtn {
        display: none;
    }
    .home {
        border-left: 1px solid rgba(157, 117, 35, 0.5);
    }
    .menu {
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: center;
    }
    #current-condition {
        display: flex;
        align-self: center;
        height: auto;
        margin-left: 5%;
    }
    #condition-img {
        width: 55%;
        height: auto;
    }
    #condition-text {
        align-self: center;
        color: black;
        font-weight: bold;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
    fieldset{
        border: 1px solid #4abdac;
        border-radius: 10px;
    }
}