table, th, td {
    font-family: "Ubuntu", sans-serif;
    border: 1px solid rgb(170, 170, 170);
    border-collapse: collapse;
    text-align: center;
}

table {
    box-shadow: 6px 6px 28px 0px rgba(0, 0, 0, 0.75);
}

th, td {
    padding: 7px 10px;
}

th {
    background-color: #628ca6;
    color: white;
}

.title {
    background-color: #7fb9c2;
    color: black;
    padding: 8px;
    font-size: 1.5rem;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed
}

tr:nth-child(4)>:last-child {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(5)>:first-child {
    font-style: italic;
}

tfoot>tr:first-child {
    background-color: #7fb9c2;
    font-size: .75rem;
}