@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Joseph Wurz</h1>
    <section class="jumbotron col-lg-10 offset-lg-1">
        <h4>Computer Information Technology Hub.</h4>
        <img src="" />
    </section>
    <div class="container">
        <div class="row offset-lg-2 offset-md-2">
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 160:<br />Introduction to Programming<br /></h5>
                <p>JavaScript Programming</p>
                <br />
                <i class="fab fa-html5 fa-2x" style="color:red;" alt="HTML5"></i>
                <i class="fab fa-js-square fa-2x" style="color:#f0db4f" ; alt="JavaScript"></i>
                
            </div>
            
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 225:<br /> Database Design & Development</h5>
                <p>Database design concepts using Oracle RDBMS.</p>
                <i class="fas fa-database fa-2x" style="color: silver" alt="datbase"></i>
            </div>
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 230:<br /> Web Front-End Web Development</h5>
                <p>Basic concepts of Front-End Development.</p>
                <i class="fab fa-html5 fa-2x" style="color:red" ; alt="HTML5"></i>
                <i class="fab fa-js-square fa-2x" style="color:#f0db4f" alt="JavaScript" ;></i>
                <i class="fab fa-css3-alt fa-2x" style="color: deepskyblue;" alt="CSS3"></i>
                <a href="https://wurz-joseph.github.io/cit230/index.html" class="stretched-link"></a>

            </div>
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 260:<br /> Object Oriented Programming</h5>
                <p>OOP concepts (Java)</p>
                <i class="fab fa-java fa-3x" style="color: darkblue;" alt="Java"></i>
                <a href="https://github.com/Wurz-Joseph/cit260" class="stretched-link"></a>
            </div>
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 261:<br /> Mobile Application Development</h5>
                <p>Deeper dive into HTML, CSS, and JavaScript. Built single page web apps.</p>
                <i class="fab fa-html5 fa-2x" style="color:red;" alt="HTML5"></i>
                <i class="fab fa-js-square fa-2x" style="color:#f0db4f" alt="JavaScript" ;></i>
                <i class="fab fa-css3-alt fa-2x" style="color: deepskyblue;" alt="CSS3"></i>
                <a href="https://wurz-joseph.github.io/cit261/index.html" class="stretched-link"></a>
            </div>
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 325:<br /> Database Programming</h5>
                <p>Database programming with PL/SQL and oracle databases.</p>
                <br />
                <i class="fas fa-database fa-2x" style="color: silver" alt="datbase"></i>
            </div>
            <div class="col-lg-2 col-md-4 m-md-3 shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 360:<br /> Object Oriented Software Development</h5>
                <p>OOP with JavaEE/advanced OOP concepts.</p>
                <i class="fab fa-java fa-3x" style="color: darkblue;" alt="Java"></i>
                <a href="https://wurz-joseph.github.io/cit360" class="stretched-link"></a>
            </div>
            <div class="col-lg-2 col-md-4 m-md-3  shadow-sm p-3 mb-5 bg-white rounded">
                <h5>CIT 365:<br />.NET Software Development</h5>
                <p>C# software development. Windows Desktop/ASP.NET</p>
                <br />
                <i class="fab fa-windows fa-2x" style="color: blueviolet"></i>
                <a href="https://wurz-joseph.github.io/CIT365" class="stretched-link"></a>
            </div>
        </div>

    </div>
</div>
