
h3, h4{
    text-align: center;
}
h3{
    font-size: 1.5rem;
}
fieldset{
    text-align: center;
    width: 90vw;
    margin: auto;
    padding: 0;
    background-color: #dec6af;
}
form{
    margin: 20px auto;
}
legend{
    font-size: 1.5em;
}
input{
    padding: 8px;
    margin: 20px auto;
    display: block;
    width: 80%;
    height: 20px;
}
.btns{
    justify-content: center;
    display: flex;
    margin: 10px auto;
    width: 90%;
    padding: 7px;
}
button{
    
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-Color: navy;
    color: white;
}
span {
    color: blue;
    font-weight: bold;
}
.hide{
    display: none;
}

.show{
    display: block;
}

a{
  text-align: center;
  width: 80%;
  display: block;
  margin: 10px auto;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: navy;
}
a:hover{
    box-shadow: 3px 1px 10px 1px rgba(0,0,0,0.75);

}
.section{
    border: 2px groove;
    padding: 10px 0;
    margin: 20px auto;
    background-color: #dec6af;
    width: 90vw;
    max-width: 800px;
}
p{
    padding: 10px;
    max-width: 90%;
    margin: auto;
    font-family: 'Yeon Sung', cursive;
    font-weight: 900;
}
.output{
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    font-size: 1.2em;
}