* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans-serif;
    margin: auto;
}

/*==================Header=====================*/
header {
    display: flex;
    flex-direction: column;
    background-color: rgb(74, 189, 172);
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 180, 49, 0.7);
    margin: auto;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
}

#current-condition {
    display: none;
}

.headertext {
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin-bottom: 10px;
}

.mottotext {
    font-style: italic;
    font-size: .75rem;
}

/*==================Nav-Bar=====================*/

li {
    list-style-type: none;
}

li>a {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(157, 117, 35, 0.5);
    text-decoration: none;
    color: black;
}

.bottom {
    border-bottom: none;
}

.hide {
    display: none;
}

button {
    background-color: rgba(246, 180, 49, 0);
    border: none;
}

/*==================Main-Content=====================*/

main {
    max-width: 640px;
    margin: auto;
}

.pageHeader {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
}

.franklin {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px 0;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
}

.weathersummary {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(247, 183, 51, .75);
    width: 200px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 4px 14px 15px 0px rgba(0, 0, 0, 0.75);
}

.label {
    float: left;
    font-weight: bold;
}

.value {
    color: yellow;
    text-align: right;
}

h3 {
    text-align: center;
    margin: 5px;
}

article {
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 10px 0 30px 0;
}

.article {
    font-size: 15px;
    margin: 10px 20px;
}

.deer-img {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.forecast {
    display: none;
}

/*==================Contact-Info=====================*/

#contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(223, 220, 227);
    margin-top: 10px;
}

.contact-info {
    width: 30%;
    align-self: center;
    text-align: center;
    font-size: .85rem;
}

.station-img {
    display: none;
}

iframe {
    border: 1px solid rgba(176, 174, 180, .85);
    width: 50%;
    height: auto;
    margin: 10px;
}

.wrapper {
    display: grid;
    text-align: center;
    margin-top: 20px;
    grid-template-columns: 300px;
    justify-content: center;
    grid-gap: 1.2em;
}

figure>img {
    width: 100%;
    height: 225px;
}

figure {
    margin: 0;
}

figcaption {
    font-size: .85rem;
    margin: 5px;
}

footer {
    display: none;
}